*
{
	margin : 0px;
}

.pin {
  height: 136px;
  width: 136px;
  border: 0 none;
  right:0;
  bottom:0;
  position: fixed; 
  z-index: 3;
}


@media screen and (min-width: 768px) and (max-width: 1024px)
{
  .pin {
  /*display: none !important;*/
  width: 80px;
  height: 80px;
}
  .pin img{
  /*display: none !important;*/
  width: 80px;
  height: 80px;
}
}

@media screen and (max-width: 767px)
{
  .pin {
  display: none !important;
}
}

/* NAVBAR */

.navbar
{
  background-color: #edd9ec;
  /*font-family: 'Special Elite', cursive;*/
}

.navbar-dark .navbar-nav .nav-link.active
{
    color: #a57acc;
    border-bottom: 3px dotted #a57acc;
}

.collapse
{
  color: black;
}

.navbar-dark .navbar-nav .nav-link
{
  color: #a57acc;
  padding-bottom: 3px;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus
{
    color: black;
    border-bottom: 3px dotted black;
}

/* Header */

section
{
  background-image: url('./images/header1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position : 60% 80%;

  color: black;
  font-family: 'Special Elite', cursive;
}

.header
{
  padding-top: 250px;
  padding-bottom: 250px;
}

/*Animation titre header*/
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  display:block;
  color: #222;
  font-family: 'Special Elite', cursive;
  height: 50vmin;
  left: 50%;
  position: absolute;
/*  top: 25%; Pour changer la position de la barre*/
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 4vmin;
  padding: 1vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 0.5vmin dotted white;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
    color: black;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}


@media screen and (max-width: 640px)
{
  .animated-title > div div {
      font-size: 6.5vmin;
  }
}

/* FIN Animation titre header*/

/* --------- FIN H E A D E R ------------ */

/* ---------------------------- DEBUT A propos ----------------------------- */

.apropos
{
  /*background-color: #e7d6f6;*/
  font-family: 'Special Elite', cursive;
  padding: 70px 0px;
  background: linear-gradient(#ead3e9, #fff)
}

.apropos img
{
 padding: 30px 0px;
}

.apropos h5
{
  font-size: 30px;
  padding-bottom: 20px;
}

.boutoncontact
{
  background-color: #e7bcda;
}

#apropos .lead a:hover
{
  color: white;
  background-color: #c1dfc1;
}
/* -------------- Fin A propos ---------------- */

/* ---------- DEBUT PORTFOLIO --------------  */

#portfolio
{
  padding-top: 70px;
  padding-bottom: 50px;
  /*background-color: #edd9ec;*/
  background: linear-gradient(#fff 20%, #edd9ec 90%, #fff  );
}

#portfolio h1
{
  font-size: 48px;
  font-family: 'Special Elite', cursive;
}

#portfolio h2
{
  padding-top: 60px;
  font-family: 'Special Elite', cursive;

}


#portfolio .lead
{
  padding-top: 25px;  
}

#portfolio .lead a:hover
{
  color: white;
  background-color: #d6b5f4; 
}

#portfolio .btn-light
{
  border-color: #edd9ec;
}

#portfolio .logo
{
  padding-top: 10%;
  padding-right: 2%;
  width: 15%;
}

/* ---Responsive - PORTFOLIO - -----  */
@media screen and (max-width: 640px)
{

  #portfolio h1
  {
    font-size: 35px;
  }
  #portfolio h2
  {
    font-size: 25px;
  }
  .lead 
  {
    font-size: 16px;
  }

  .lead .btn-light
  {
    font-size: 0.95rem;
  }

}
/* ------- Fin PORTFOLIO ------  */

/* ---------------------------- DEBUT Compétences ----------------------------- */

#competences
{
  padding-top: 50px;
  padding-bottom: 70px;

  background: linear-gradient(#fff 90%, #ead3e9 98%);
}

#competences h1
{
  font-size: 48px;
  font-family: 'Special Elite', cursive;
}

#competences h3
{
  font-size: 24px;
  font-family: 'Special Elite', cursive;
  padding-bottom: 40px;
}

#competences h2
{
  font-size: 24px;
  font-family: 'Special Elite', cursive;
  padding-top: 20px;
}

.marketing
{
/*	padding-top: 2200px;*/
}

.logiciel
{
	background-color: #8dc281;
}

/* ---Responsive - COMPETENCES - -----  */
@media screen and (max-width: 640px)
{

#competences h1
{
  font-size: 35px;
}
#competences h3
{
  font-size: 20px;
}
#competences h2
{
  font-size: 20px;
}

}

/* ----- FIN Compétences ------------ */

/* ---------------------------- DEBUT TIMELINE/Parcours --------------------------- */

#parcours
{
  padding-top: 70px;
  padding-bottom: 70px;

  background: linear-gradient(#ead3e9 2%, #fff 10%);
}

#parcours h1
{
  font-size: 48px;
  font-family: 'Special Elite', cursive;
  padding-bottom: 40px;
}

/*.blocinfo
{
  background-image: url("./images/glace.png");
}*/

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

/*.timeline-badge.primary {
  background-color: #2e6da4 !important;
}*/

.timeline-badge.success {
  background-color: #d6b5f4 !important;
}

.timeline-badge.warning {
  background-color: #f6d4e5 !important;
}

/*.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}*/

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

/* ---Responsive - PARCOURS - -----  */
@media screen and (max-width: 640px)
{

  #parcours ul, #parcours li {
  	font-size: 0.90rem;
  	/*list-style:none;*/
  	margin-left:0;
  	padding-left:0;
  }
  small{
  	font-size: 0.85rem;
  }
  #parcours h4{
  	font-size: 1rem;
  }
  .timeline > li > .timeline-badge {

    width: 25px;
    height: 25px;
    top: 26px;
    left: 50%;
    margin-left: -15px;
  }
  #parcours h1
  {
    font-size: 35px;
  }

  .cesure
  {
    hyphens: auto; /*Césure en css*/
  }

}

/* --------------- FIN TIMELINE ---------------- */

/* ---------------------------- DEBUT footer ----------------------------- */
footer
{
	background-image: url('./images/footer.jpg');
	width: 100%;
	background-repeat: no-repeat;

	position: relative;
  height: 420px;
  
  background-size: cover;
  background-position: center top;
}

footer #footer{
	height: 400px;
	padding-bottom: 40px;
	display : flex;
	align-items: flex-center;
}

cite
{
  line-height: 50px;
}

.footer-text
{
	margin: 0 auto;
}

.footer-text p
{
	font-family: 'Special Elite', cursive;
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 27px;
    letter-spacing: 1.47px;
    color: black;

    padding-top: 100px;
}

.footer-credit
{
	position: absolute;
	font-family: 'Special Elite', cursive;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
}

@media screen and (max-width: 640px){

  .footer-text p, #portfolio, #competences, #parcours
  {
    padding-top: 0px;
  }



}


